* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.header {

    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color:rgb(126, 9, 9);
}

.left-sidebar {
   
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

#map {
    width: 100%;
    height: 80vh;
}

/* grid container */
.left-sidebar-grid {
    display:grid;
    grid-template-areas:
        'header'
        'left-sidebar'
        'main-content'
        ;

}

/* general column padding */
.left-sidebar-grid > * {
    padding:1rem;
}

/* assign columns to grid areas */
.left-sidebar-grid > .header {
    grid-area:header;

}
.left-sidebar-grid > .main-content {
    grid-area:main-content;

}
.left-sidebar-grid > .left-sidebar {
    grid-area:left-sidebar;

}

.leaflet-tooltip.my-labels {
    /* background-color: rgba(255,255,255,0.7); */
    background: transparent;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    border: transparent;
    box-shadow: none;
    font-weight: 1000;
    border-radius: 3px;
    padding-right:0;
}

.leaflet-tooltip-top:before, 
.leaflet-tooltip-bottom:before, 
.leaflet-tooltip-left:before, 
.leaflet-tooltip-right:before {
    border: none !important;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .left-sidebar-grid {
        grid-template-columns:repeat(3, 1fr);
        grid-template-areas:
            'header header header'
            'left-sidebar main-content main-content';
    }
}